.todoItem {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
	background-color: white;
	box-sizing: border-box;
	padding: 8px 12px;
	width: 100%;
}

.todoItem * {
	background-color: white;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
