.todoItem {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
	background-color: white;
	box-sizing: border-box;
	padding: 8px 12px;
	width: 100%;
}

.todoItem * {
	background-color: white;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.editButton {
	padding: 0;
	margin: 0;
	background-color: white;
	margin-left: auto;

	&:hover {
		background-color: white;
	}

	&:active {
		background-color: white;
	}
}

.deleteButton {
	padding: 0;
	margin: 0;
	background-color: white;

	&:hover {
		background-color: white;
	}

	&:active {
		background-color: white;
	}
}
