.form {
	display: flex;
	flex-direction: row;
	gap: 10px;
	max-width: 800px;

	box-sizing: border-box;
	padding: 8px 12px;
	width: 100%;

	&:focus {
		border-color: #dbdbdb;
	}
}
input {
	flex-grow: 1;
	border-width: 1px;
	border-color: #9ca3af;
	padding: 0.5rem;
	border-radius: 4px;
}

.error {
	color: red;
}
