@use 'sass:color';
* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	font-family: 'Roboto', -apple-system, system-ui, sans-serif;
	background-color: #f1f4f9;
}

$primary-blue: #5595fe;
$primary-red: #ff675a;

.todo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	// left: 50%;
	top: 20%;
	width: calc(100vw - 60px);
	max-width: 1050px;
	// height: calc(100vh - 140px);
	// transform: translate(-50%, -50%);
	font-size: 14px;
}

button {
	background: $primary-blue;
	border-radius: 4px;
	color: #ffffff;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;

	&:hover {
		background: color.adjust($primary-blue, $lightness: -6%);
	}

	&:active {
		background: color.adjust($primary-blue, $lightness: -10%);
	}
}

form {
	box-sizing: border-box;
	padding: 8px 12px;
	width: 100%;

	&:focus {
		border-color: #dbdbdb;
	}
}
